{% extends 'base.html.twig' %}

{% block title %}Hello DevisController!{% endblock %}

{% block contentTitle %}
<div class="example-wrapper">
    <h1 class="text-orange">Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
