.text-orange{
    color:#FF7F00 !important;
}
.text-area{
    width: 300px;
}

.font-italic{
    font-style: italic;
}
.font-bold{
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number]  {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
#headerwrap{
    background-image: url(../img/background.jpg) no-repeat;
    background-size: cover;
}

#navbar{
    background-color: #585858;
}