.text-orange{
    color:#FF7F00 !important;
}
.text-area{
    width: 300px;
}

.font-italic{
    font-style: italic;
}
.font-bold{
    font-weight: bold;
}
.error{
    background-color: #F00 !important;
    color:#FFF !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number]  {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
#headerwrap{
    background-image: url(../img/background.jpg) no-repeat !important;
    background-size: cover;
}

#navbar{
    background-color: #585858;
}

.btn-outline{
    border:1px solid #fff;
    background-color: transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn-devis{
    border-color:#FF7F00;
    background-color: #FF7F00;
    color:#FFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn-light{
    color: #212529;
    background-color: #fff;
    border-color: #fff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.flexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-outline:hover{
    color: #FF7F00;
    background-color: transparent;
    border: 1px solid #FF7F00 !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
.text-center{
    text-align: center !important;
}
.navbar-default{
    background-color: #585858 !important;
}
.dropdown-toggle, .side-menu-trigger, .search-bar{
    color:#FF7F00 !important;
}

.btn-orange {
    background-color: #ff9900 !important;
    color:#fff !important;
}

.containerWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a#contacts{
    cursor: pointer;
}
div#contacts{
    background-color: #585858;
    color:#ff9900;
}

#presentations, #contact{
    background-color: #6E6E6E;
}

.text-presentations{
    font-size:1rem;
    font-family: 'Times New Roman', Times, serif;
}
.text-presentation, .text-contact{
    color:#048b9a;
    text-shadow: 1px 1px 1px #000;
}

h2.text-presentation, h2.text-contact{
    text-decoration: underline;
}

.text-under{
    text-decoration: underline;
}

/**     CONTAINER TITLE **/

.containerTitle{
    margin-top: 30%;
}

.password_lost{
    text-decoration: underline;
    color:#00f;
}
.password_lost:hover {
    color:#00f;
}
/***    MEDIA QUERIES    ***/

/*
    * Style media query pour écran < 359px (all small phones (iphone 5SE and others) )
*/
@media only screen and (max-width : 359px) {
    /* Styles pour cette Media Queries */
    #presentations {
        height:458px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .password_lost{
        text-decoration: underline;
        color:#00f;
    }
    .password_lost:active {
        color:#00f;
    }
    .containerTitle{
        margin-top: 30%;
    }
    .text-presentations{
        font-size:1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}

/*
    * Style media query pour 359px < écran < 361px (all phones)
*/
@media only screen and (min-width : 359px) and (max-width:361px){
    /* Styles pour cette Media Queries */
    #presentations, #contact{
        background-color: #6E6E6E;
    }
    .password_lost{
        text-decoration: underline;
        color:#00f;
    }
    .password_lost:active {
        color:#00f;
    }
    .containerTitle{
        margin-top: 50%;
    }

    .text-presentations{
        font-size:1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}


/*
    * Style media query pour 362px < écran < 768px (all Ipad)
*/
@media only screen and (min-width : 362px) and (max-width:768px){
    /* Styles pour cette Media Queries */
    #presentations, #contact{
        background-color: #6E6E6E;
    }

    .containerTitle{
        margin-top: 40%;
    }
    .password_lost{
        text-decoration: underline;
        color:#00f;
    }
    .password_lost:active {
        color:#00f;
    }
    .containerTitle{
        margin-top: 50%;
    }
    
    .text-presentations{
        font-size:1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}


/*
    * Style media query pour 769px < écran < 834px (all Ipad)
*/

@media only screen and (min-width : 769px) and (max-width:834px){
    /* Styles pour cette Media Queries */
    #presentations, #contact{
        background-color: #6E6E6E;
    }
    .password_lost{
        text-decoration: underline;
        color:#00f;
    }
    .password_lost:active {
        color:#00f;
    }
    .containerTitle{
        margin-top: 40%;
    }

    .text-presentations{
        font-size:1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}

/*
    * Style media query pour 835px < écran < 1024px (all phones)
*/
@media only screen and (min-width : 835px) and (max-width:1025px){
    /* Styles pour cette Media Queries */
    #presentations, #contact{
        background-color: #6E6E6E;
    }
    .password_lost{
        text-decoration: underline;
        color:#00f;
    }
    .password_lost:active {
        color:#00f;
    }
    .text-presentations{
        font-size:1rem;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }
}