{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block contentTitle %}
    <div class="row" id="contact">
        <div class="col-12">
            <h2 class="text-center text-contact">Contacts :</h2>
        </div>
        <div class="col-xs-12 col-md-6">
            <h4 class="text-contact text-center">
                <i class="fas fa-phone-alt"></i> : 07 66 63 80 02
            </h4>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h4 class="text-contact text-center">
                <i class="fas fa-envelope"></i> : patouillard.frederic@outlook.fr
            </h4>
        </div>
    </div>
{% endblock %}
