<header id="head">
    <div class="container" id="about">
        <div class="row">
            <h3 class="tagline text-orange">Hop ! Hop ! Hop ! Livraison est, comme son nom l'indique, une société de livraison fondée en Aout 2019. Notre entreprise familiale propose différents services grâce à sa flotte élargie de véhicules légers allant de la voiture au camion d'une capacité de 20 m3. La qualité des services et les prestations sont nos principales préoccupations. La prise de rendez-vous rapide et efficace, le délai de livraison le plus court possible et le contact courtois avec le client font également parties de nos priorités. Nous allons vous faire changer la vision de notre métier basé sur l'échange et le service.</h3>
        </div>
    </div>
</header>