<div class="header-top_area d-none d-lg-block main-header-area main-header-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-orange">
                    <span class="titre">Hop Hop Hop</span> <span class="titre2">Livraison</span>
                </h1>
            </div>
            <div class="col-sm-6 text-white containerAllWrapper">
                <div>
                    <a href="{{path('app_login')}}">
                        <button type="button" class="btn btn-outline-light">
                            <i class="fas fa-calendar-alt"></i> Prise Rdv
                        </button>
                    </a>
                </div>
                <div>
                    <a href="{{path('devis')}}">
                        <button type="button" class="btn btn-orange">
                            Demandez un devis
                        </button>
                    </a>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div>
                        <a href="{{path('app_logout')}}">
                            <button type="button" class="btn btn-danger">
                                Déconnexion
                            </button>
                        </a>
                    </div>
                {% else %}
                    <div>
                        <a href="{{path('contact')}}">
                            <button type="button" class="btn btn-success">
                                Contact
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>