<div class="header-top_area d-none d-lg-block main-header-area main-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="text-orange">
                    Hop Hop Hop Livraison
                </h1>
            </div>
            <div class="col-md-7 text-white">
                <div class="row">
                    <div class="containerWrapper col-md-12">
                        <div>
                            <button type="button" class="btn btn-outline-light"><i class="fas fa-user"></i> Espace Client</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-orange">Demandez un devis</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-light"><i class="fas fa-phone-alt"> 07 66 63 80 02</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>