<div class="modal bs-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Contacts : </h4>
      </div>
      <div class="modal-body">
        <div class="col-xs-12">
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
                <div id="contact" class="container">
                    <div class="row" id="contact">
                        <div class="col-12 col-sm-6 text-orange text-center">
                            <i class="fas fa-envelope"></i> : patouillard.frederic@outlook.com
                        </div>
                        <div class="col-12 col-sm-6 text-orange text-center">
                            <i class="fas fa-phone-alt"> 07 66 63 80 02</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
