<div id="sticky-header" class="main-header-area">
    <div class="container">
        <div class="header_bottom_border">
            <div class="row align-items-center">
                <div class="col-md-1 text-center">
                    <a href="{{path('home')}}">
                        <h1 class="text-orange">
                            HHHL
                        </h1>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="main-menu  d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li>
                                    <a role="menuitem" href="{{path('home')}}">Présentation</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="about.html">Transports</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="service.html">Services</a>
                                </li>
                                <li>
                                    <a role="menuitem" href="{{ path('contact') }}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-1 d-none d-lg-block">
                    <div class="Appointment">
                        <div class="search_button">
                            <a href="#">
                                <i class="ti-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>